@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans";
}
header{
    background-color: rgba(255, 144, 14, 0.10);
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0px auto;
    padding: 50px 0px 100px 0px;
}
.nav ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
}
.nav-title{
    font-size: clamp(1rem, 10vw, 3rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #131313;
}
.nav ul li{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: #424242;
    cursor: pointer;
}
.nav ul :hover{
    color: #FF900E;
    transition-duration: 0.5s;
}
.hero{
    max-width: 1440px;
    margin: 0px auto;
}
.hero-title{
    font-family: "Work Sans";
    text-align: center;
    font-size: clamp(2rem, 10vw, 4rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #131313;
    margin: 0px auto;
}
.hero-dec{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    max-width: 862px;
    margin: 20px auto;
}
.hero-btn{
    display: flex;
    justify-content: center;
    margin: 32px 0px 50px 0px;
}
.hero-btn button{
    padding: 20px 25px;
    background-color: #FF900E;
    color: white;
    font-size: clamp(0.5rem, 4vw, 1rem);
    border-radius: 10px;
    border: none;
    cursor: pointer;

}
.hero-img{
    width: 100%;
    margin-bottom: 45px;
}
main{
    max-width: 1440px;
    margin: 0px auto;
}
/* team section */
.team{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
}
.team-img-1{
    grid-area: team-img-1;
}
.team-img-2{
    grid-area: team-img-2;
}
.team-img-3{
    grid-area: team-img-3;
}
.team-img-4{
    grid-area: team-img-4;
}
.team-img{
    display: grid;
    grid-template-areas:
    'team-img-1 team-img-2'
    'team-img-3 team-img-4';
    gap: 25px;
    animation-duration: 1.6s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        margin-right: 100px;
        opacity: 0;
    }
    to{
        margin-right: 0px;
        opacity: 1;
    }
}
.team-img img{
    width: 100%;
}
.team-info{
    max-width: 40%;
    margin: 30px 0px;
    animation-duration: 1.6s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        margin-left: 100px;
        opacity: 0;
    }
    to{
        margin-left: 0px;
        opacity: 1;
    }
}
.team-title{
    font-size: clamp(1.8rem, 10vw, 2.8rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #727272;
    max-width: 862px;
    margin: 0px auto;
}
.team-title span{
    font-size: clamp(1.8rem, 10vw, 2.8rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #131313;
    max-width: 862px;
    margin: 0px auto;
}
.team-title-2{
    font-size: clamp(1.8rem, 10vw, 2.8rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FF900E;
    max-width: 862px;
    margin: 0px auto;
}
.team-dec{
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    max-width: 862px;
    margin: 20px 0px;
}
.team-btn button{
    padding: 20px 25px;
    background-color: #FF900E;
    color: white;
    font-size: clamp(0.5rem, 4vw, 1rem);
    border-radius: 10px;
    border: none;
    cursor: pointer;
     
}
.team-btn button:hover{
    box-shadow: 0px 10px 25px rgba(77, 77, 77, 0.2);
    transition-duration: 0.7s;
    scale: 1.02;
}
.section-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features{
    display: flex;
    gap: 140px;
    margin: 70px 0px;
}

.features-card{
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 10px 25px rgba(77, 77, 77, 0.1);
    margin-bottom: 20px;
}
.features-card:hover{
    box-shadow: 0px 10px 25px rgba(77, 77, 77, 0.2);
    transition-duration: 0.7s;
    scale: 1.02;
}
.card-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.experience-btn{
    padding: 20px 25px;
    background-color: #FF900E;
    color: white;
    
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: -90px;
    margin-left: -92px;
}
.experience-btn:hover{
    box-shadow: 0px 10px 25px rgba(77, 77, 77, 0.2);
    transition-duration: 0.7s;
    scale: 1.02;
}
.experience-btn-title{
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: clamp(2.8rem, 10vw, 4rem);
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 107.692% */
}
.experience-btn-dec {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.facts-info{
    max-width: 545px;
}

.facts-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #131313;
}
.stats{
    display: flex;
    justify-content: space-around;
    margin: 100px 0px;
}
.stats-card{
    border-radius: 5px;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats-card-info{
    text-align: center;
    margin: auto;
}
.stats-card-info h4{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #424242;
}
.stats-card-info p{
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.sponsors-img{
    display: flex;
    justify-content: space-between;
    margin: 90px 0px;   
}
.sponsors-img img{
    filter: grayscale(100%);
}
.sponsors-img img:hover{
    filter: grayscale(0%);
    transition-duration: 0.5s;
}
footer{
    max-width: 1440px;
    margin: 0px auto;
    background-color: #FFF4E7;
}
footer p{
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 40px  0px;
}
@media screen and (max-width: 576px) {
    .nav{
        flex-direction: column;
        text-align: center;
        padding: 20px 0px 50px 0px;
    }
    .nav ul{
        flex-direction: column;
        gap: 10px;
    }
    .team{
        flex-direction: column;
        text-align: center;
    }
    .team-img{
        grid-template-areas:
        'team-img-1'
        'team-img-2'
        'team-img-3'
        'team-img-4';
        gap: 20px;
    }
    .team-info{
        max-width: 100%;
    }
    .features{
        flex-direction: column;
        gap: 50px;
        margin: 0px;
    }
    .architect{
        width: 100%;
    }
    .experience-btn{
        margin: 20px 0px;

    }
    .architect-experience{
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }
    .section-title{
        font-size: 32px;
    }
    .facts-info{
        max-width: 100%;
        text-align: center;
        margin: 50px 0px;
    }
    .stats{
        flex-direction: column;
        gap: 50px;
        
    }
    .stats-card{
        margin: 0px auto;
    }
    .sponsors-img{
        flex-direction: column;
        gap: 30px;
        margin: 50px 70px ;
    }
}